<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gmaps"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <permission
        android:name="com.example.gmaps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gmaps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"
        android:name="android.hardware.camera"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/lboro_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDV41HanXO2HKT0hfwcVkAZk4UTnIOqvFg" />

        <!-- Splash background -->
        <activity
            android:name=".SplashPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Menu Activity -->
        <activity
            android:name=".Menu"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" >
            <intent-filter>
                <action android:name="com.example.gmaps.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Navigation Activity -->
        <activity
            android:name=".Gmaps"
            android:label="@string/app_name" >
        </activity>

        <!-- Building Search Activity -->
        <activity
            android:name=".BuildingSearch"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.gmaps.BUILDINGSEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Other Activity -->
        <activity
            android:name=".Other"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.gmaps.OTHER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Learn Activity -->
        <activity
            android:name=".Learn"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.gmaps.LEARN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Caspa Activity -->
        <activity
            android:name=".Caspa"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.gmaps.CASPA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Timetable Activity -->
        <activity
            android:name=".Timetable"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.gmaps.TIMETABLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Main Website Activity -->
        <activity
            android:name=".MainWebsite"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.gmaps.MAINWEBSITE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- LSU Website Activity -->
        <activity
            android:name=".LsuWebsite"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.gmaps.LSUWEBSITE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Bus Travel Information Activity -->
        <activity
            android:name=".BusTravelInfo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.gmaps.BUSTRAVELINFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Email Activity -->
        <activity
            android:name=".Email"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.gmaps.EMAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- News Activity -->
        <activity
            android:name=".News"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.gmaps.NEWS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Events Activity -->
        <activity
            android:name=".Events"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.gmaps.EVENTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Library Activity -->
        <activity
            android:name=".Library"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.gmaps.LIBRARY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Staff Search Activity -->
        <activity
            android:name=".StaffSearch"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.gmaps.STAFFSEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- PC Labs Availability Activity -->
        <activity
            android:name=".PcLabs"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.gmaps.PCLABS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Safety Toolbox Activity -->
        <activity
            android:name=".SafetyToolbox"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.gmaps.SAFETYTOOLBOX" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- About Us Activity -->
        <activity
            android:name=".AboutUs"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.gmaps.ABOUTUS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>